<head>
  <meta
    name="google-site-verification"
    content="26nvYoCzIMa3r9lzzhL5VEY2CH3kTxpSuZBvdvDS7VQ"
  />
</head>
Enter String :
<div>
  <input type="text" [formControl]="string" />
  <div *ngIf="string.errors?.required" class="text-danger">
    String Is Required
  </div>
</div>
<button class="ml-10" (click)="checkValidity()">Check</button>

<div *ngIf="isChecked">
  <div *ngIf="isValid; else notValid">
    <p class="text-sucess">IS VALID PARANTHESIS</p>
  </div>
  <ng-template #notValid>
    <p class="text-danger">NOT VALID</p>
  </ng-template>
</div>
